<section>
    <article class="mt-4"> 
        <h1 class="title has-text-centered">Welcome Dr. {{lastName}}!</h1> 
    </article>
    
    <main class ="columns mt-3">
      <section class="column is-3 is-offset-1">
        <article class="panel is-info">
          <p class="panel-heading">
            Patient Information
          </p>
          <p class="panel-tabs">
            <a class="is-active">All</a>
          </p>
          {{#each patients as |patient|}}
          <a class="panel-block patientBlock" id="{{patient.id}}">
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            {{patient.lastName}}, {{patient.firstName}}
          </a>
          {{/each}}
        </article>
      </section>

      <section class="column is-2 is-offset-1">
        <h3 class="label is-size-5">Current Treatments:</h3>
        <table class="table is-bordered">
            <tbody id="patientTreatmentList">
                {{#if thisPatient}}
                {{#each medicine as |med|}}
                <tr>
                  <td>{{med.name}}</td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
      </section>

      <section class="column is-2 is-offset-1">
        <h2 class="label is-size-5">Select Medication to Add to Treatment:</h2>
        {{#each allMedications as |medication|}}
          <div id='{{medication.name}}' class='checkboxes'>
            <input class="is-size-5" type="checkbox" id='{{medication.name}}' name="medication">
            <label class="is-size-5" for='{{medication.name}}'>{{medication.name}}</label>
          </div>                              
        {{/each}}
        <button class="button is-success mt-2" id="updateTreatmentBtn">
            Update Treatment
        </button>
      </section>
    </main> 
  </section>

<script src="./js/doctorView.js"></script>