<section class="mt-4"> 
    <h1 class="title has-text-centered">Welcome to your dashboard {{patient.firstName}} {{patient.lastName}}!</h1> 
</section>

<main class="columns mt-3">
    <section class="column is-4 is-offset-1">
        <table class="table is-bordered">
            <thead class="has-text-centered">Your Medications:</thead>
            <tbody id="cart">
                
            </tbody>
        </table>
    </section>

    <section class="column is-4 is-offset-2">
        <h2 class="label is-size-5">Select Medication to add to cart:</h2>
        {{#each medications as |medication|}}
            <input class="is-size-5" type="checkbox" id='{{medication.name}}' name="medication" value='{{medication.price}}'>
            <label class="is-size-5" for='{{medication.name}}'>{{medication.name}}</label>
            <br>                    
        {{/each}}
        <button class="button is-success mt-2" id="updateCartBtn">
            Update Cart
        </button>
    </section>
</main>

<script src="./js/patientView.js"></script>